{% include 'base.html' %}
{% include 'navbar.html' %}

{% block base %}

<body class="single-page">

    <!--SCROLL TO TOP-->
    <a href="#home" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="welcome-area-style single-page" id="home">
        {% block navbar %}
        {% endblock %}
        <div class="welcome-area-style">
            <div class="area-bg"></div>
            <div class="container">
                <div class="row flex-v-center" style="padding-top:15em;">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text-style text-center">
                            <h2>About Us</h2>
                            <ul class="page-location">
                                <li><a href="#">Home</a></li>
                                <li>/</li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--END TOP AREA-->

    <!--ABOUT AREA-->
    <section class="about-area gray-bg section-padding">
        <div class="container">
            <div class="row" style="padding-top:15em;">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeInUp">
                        <h2>welcome to Pentasix Bright !</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="about-left-content-area wow fadeIn">
                        <img src="/static/img/about/about-cargo.png" alt="">
                        <h2>Our Belief</h2>
                        <p>We believe that we will develop and grow with support of our customers and employees. As an organization, our values and morals will be the guiding light for our actions.</p><p>Our clients will be our greatest motivators and our pillars of strength. We respect our relationship with each one of our customers and try to strive for a little extra in everything we do for them.</p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                    <div class="about-content-area wow fadeIn">
                        <div class="about-content">
                            <h2>About Us</h2>
                            <p>Pentasix Bright SPC is a newly established logistics company in Oman, whose inception is an idea of three experienced logistics professionals with service offerings in Freight forwarding (Sea, Air & Land), Chartering, Customs Clearance & Transportation with future expansion plan in Port Agency.</p>
                        </div>
                        <div class="about-count">
                            <div class="single-about-count">
                                <h4><i class="fa fa-suitcase"></i> 120</h4>
                                <p>Project Done</p>
                            </div>
                            <div class="single-about-count">
                                <h4><i class="fa fa-thumbs-o-up"></i> 100</h4>
                                <p>Project Done</p>
                            </div>
                            <div class="single-about-count">
                                <h4><i class="fa fa-users"></i> 30</h4>
                                <p>Project Done</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!--FAQS AREA-->
    <section class="faqs-area section-padding wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="faqs-left-img">
                        <img src="/static/img/about/about-details.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="faqs-list-style">
                        <h3>why choose <span>pentasix bright ?</span></h3>
                        <div class="panel-group" id="accordion">
                            <div class="panel active">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faqs_one"><i class="fa fa-minus"></i> Where all do you Deliver ?</a>
                                    </h4>
                                </div>
                                <div id="faqs_one" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        We provide a World-Wide delivery service.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faqs_two"><i class="fa fa-minus"></i> Do you have/provide Customs Clearance ?</a>
                                    </h4>
                                </div>
                                <div id="faqs_two" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Yes, we provide customs clearance on our freights.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faqs_three"><i class="fa fa-minus"></i> What all Services does your company provide ?</a>
                                    </h4>
                                </div>
                                <div id="faqs_three" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Sea Freight, Air Freight, Land Freight, Voyage Chartering and Time Chartering.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faqs_four"><i class="fa fa-minus"></i> What is Voyage Chartering ?</a>
                                    </h4>
                                </div>
                                <div id="faqs_four" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Voyage Chartering means that a ship owner agrees to carry on board a specific ship a particular cargo for a single voyage from one or more loading ports to one or more discharging ports.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#faqs_five"><i class="fa fa-minus"></i> What is Time Chartering ?</a>
                                    </h4>
                                </div>
                                <div id="faqs_five" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Time chartering means that a ship owner provides a designated manned ship to the charterer and the charterer employs the ship for a specific period against the payment of hire instead of certain number of voyages or trips. Time chartering does not include loading/unloading cost in the charter rate.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FAQS AREA END-->

    <!--FOOER AREA-->
    {% include 'footer.html' %}

</body>

{% endblock %}
