<!DOCTYPE html>
<html lang="en">
<head>
<title>Penta Six Bright</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Error Messages -->
{% if messages %}
  <script>
    {% for message in messages %}
      alert("{{ message }}");
    {% endfor %}
  </script>
{% endif %}

</head>
	<!--- PRELOADER -->
    <div class="preeloader">
        <div class="preloader-spinner"></div>
    </div>
    
	{% block base %}
	{% endblock %}
</html>
