{% include 'base.html' %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}
{% block base %}

<body class="single-page">

    <!--SCROLL TO TOP-->
    <a href="#home" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="welcome-area-style single-page" id="home">
        {% block navbar %}
        {% endblock %}
        <div class="welcome-area-style">
            <div class="area-bg"></div>
            <div class="container">
                <div class="row flex-v-center" style="padding-top:15em;">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text-style text-center">
                            <h2>Contact Us</h2>
                            <ul class="page-location">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>/</li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--END TOP AREA-->

    <!--CONTACT US AREA-->
    <section class="contact-area-style" id="contact">
        <div class="contact-form-area section-padding gray-bg">
            <div class="container">
              <div style="width=100%;">
                <div class="row" style="padding-top:15em;">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="area-title text-center">
                            <h2>Send Us A Message</h2>
                            <h5>Need any help?  Write us your comments.</h5>
                        </div>
                    </div>
                </div>
                <div class="contact-form">
                  {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                  {{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
                <div class="row">
                  <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12" style="background-image: url('/static/img/contact1.jpg');background-size:100% 100%;border-radius:10px; height:38em; padding-left:50px;">
                      <div class="contact-image">
                          <div class="contact-address-style-style">
                            <div style="margin:60px;">
                              <h4 style="color:white;">Address</h4>
                              <br>
                              <p style="color:white;">Office:<br>
                              <a style="color:white;">Muscat, Sultanate of Oman</a></p><br>
                              <p style="color:white;">Let's talk: <br><a href="callto:01744430440" style="color:white;">+968-97213778</a></p><br>
                              <p style="color:white;">General Support: <br><a href="mailto:cs@pentasixbright.com" style="color:white;">cs@pentasixbright.com</a></p>
                          </div>
                          </div>
                          <div class="social-bookmark">
                            <div style="margin:50px;">

                              <h4 style="color:white;">Follow Us </h4>
                              <ul>
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                              </ul>
                          </div>
                          </div>

                      </div>
                  </div>
                    <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12" style="">
                        <br>
                           <form method="post">
                          {% csrf_token %}
                          {{ form|crispy }}
                           <button type="submit" class="btn btn-success">Submit</button>
                         </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
     </section>

    <!--FOOTER AREA-->
    {% include 'footer.html' %}

</body>

{% endblock %}
