{% block navbar %}
{% endblock %}

<!--- PRELOADER -->
<div class="preeloader">
    <div class="preloader-spinner"></div>
</div>

<div class="welcome-area-style-bg" data-stellar-background-ratio="0.6"></div>
<div class="header-area-style">
    <!--MAINMENU AREA-->
    <div class="mainmenu-area-style" id="mainmenu-area-style">
        <div class="mainmenu-area-style-bg"></div>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header-style">
                    <a href="{% url 'index' %}" class="navbar-brand"><img src="/static/img/logobig.png" style="max-width:5em;height:auto;margin-top:-7px;" alt="logo"></a>
                </div>
                <div id="main-nav" class="stellarnav">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="{% url 'index' %}">home</a></li>
                        <li><a href="{% url 'about' %}">about</a></li>
                        <li><a href="{% url 'services' %}">Service</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--END MAINMENU AREA END-->
</div>
