{% include 'base.html' %}
{% include 'navbar.html' %}

{% block base %}

<body class="home-one">

    <!--SCROLL TO TOP-->
    <a href="#home" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area" id="home">

        {% block navbar %}
        {% endblock %}
        
    </header>
    <!--END TOP AREA-->

    <!--ABOUT AREA-->
    <section class="about-area gray-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="quote-form-area wow fadeIn">
                        <h3>Get A Quote</h3>
                        <form class="quote-form" method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for ele in form %}
                            <p class="width-full">
                                {{ele.errors}}
                                {{ ele.label_tag }}
                                {{ele}}
                            </p>
                            {% endfor %}
                            <button type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!-- Footer Area -->
    {% include 'footer.html' %}
    
</body>

{% endblock %}