{% include 'base.html' %}
{% include 'navbar.html' %}

{% block base %}

<body class="single-page">

    <!--SCROLL TO TOP-->
    <a href="#home" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="welcome-area-style single-page" id="home">
        {% block navbar %}
        {% endblock %}
        <div class="welcome-area-style">
            <div class="area-bg"></div>
            <div class="container">
                <div class="row flex-v-center" style="padding-top:15em;">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text-style text-center">
                            <h2>Service</h2>
                            <ul class="page-location">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>/</li>
                                <li><a href="{% url 'services' %}">Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--END TOP AREA-->

    <!--SERVICE AREA-->
    <section class="service-area-two section-padding gray-bg">
        <div class="container">
            <div class="row" style="padding-top:15em;">
                <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 pull-right" >
                    <div class="service-details-content">
                        <!--SERVICE AREA-->
                        <section id="sea_freight" class="service-area">
                            <div class="service-welcome-area-style">
                                <div class="container">
                                    <div class="row">
                                        <div class="area-title wow fadeIn">
                                            <h2>Sea Freight</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="service-image">
                            <img src="/static/img/service/service-sea-freight.jpg" alt="" style="border-radius:0px 10px 10px 10px;">
                        </div>
                        <div class="service-details-style">
                            <p>Sea freight is the transportation of goods, consolidated into sea containers via Rotterdam to other seaports or terminals. Onward transportation to an inland terminal may be possible.</p>
                        </div>
                        <section id="air_freight" class="service-area">
                            <div class="service-welcome-area-style padding-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="area-title wow fadeIn">
                                            <h2>Air Freight</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="service-image">
                            <img src="/static/img/service/service-air-freight.jpg" alt="" style="border-radius:0px 10px 10px 10px;">
                        </div>
                        <div class="service-details-style">
                            <p>Airfreight or Air cargo is the unaccompanied transportation of goods between 2 airports. WBS issues per consignment an Airwaybill with a unique and on the WBS-website traceable number.</p>
                        </div>
                         <section id="land_freight" class="service-area">
                            <div class="service-welcome-area-style padding-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="area-title wow fadeIn">
                                            <h2>Land Freight</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="service-image">
                            <img src="/static/img/service/service-land-freight.jpg" alt="" style="border-radius:0px 10px 10px 10px;">
                        </div>
                        <div class="service-details-style">
                            <p>Road transport is the international transportation by road, goods are transferred via Distribution-centers and will be delivered at destination without extra local charges.</p>
                        </div>
                        <section id="voyage_chartering" class="service-area">
                            <div class="service-welcome-area-style padding-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="area-title wow fadeIn">
                                            <h2>Voyage Chartering</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="service-image">
                            <img src="/static/img/service/voyage_chartering.jpg" alt="" style="border-radius:0px 10px 10px 10px;">
                        </div>
                        <div class="service-details-style">
                            <p>Voyage Chartering means that a ship owner agrees to carry on board a specific ship a particular cargo for a single voyage from one or more loading ports to one or more discharging ports.
                            </p>
                        </div>
                        <section id="time_chartering" class="service-area">
                            <div class="service-welcome-area-style padding-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="area-title wow fadeIn">
                                            <h2>Time Chatering</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="service-image" >
                            <img src="/static/img/service/time_chartering.jpg" style="border-radius:0px 10px 10px 10px;" alt="">
                        </div>
                        <div class="service-details-style">
                            <p>Time chartering means that a ship owner provides a designated manned ship to the charterer and the charterer employs the ship for a specific period against the payment of hire instead of certain number of voyages or trips. Time chartering does not include loading/unloading cost in the charter rate.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 pull-left">
                    <div class="service-menu-style">
                        <h4>Service Details</h4>
                        <ul>
                            <li><a href="#sea_freight" class="scrolltoland">Sea Freight <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#air_freight" class="scrolltoland">Air Freight <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#land_freight" class="scrolltoland">Land Freight <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#voyage_chartering" class="scrolltoland">Voyage Chartering <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#time_chartering" class="scrolltoland">Time Chartering <i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICE AREA END-->

    <!--FOOER AREA-->
    {% include 'footer.html' %}

</body>

{% endblock %}
