{% include 'base.html' %}
{% include 'navbar.html' %}

{% block base %}

<body class="single-page">

    <!--SCROLL TO TOP-->
    <a href="#home" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area single-page" id="home">
        {% block navbar %}
        {% endblock %}
        <div class="welcome-area">
            <div class="area-bg"></div>
            <div class="container">
                <div class="row flex-v-center" style="padding-top:15em;">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text text-center">
                            <h2>Service</h2>
                            <ul class="page-location">
                                <li><a href="#">Home</a></li>
                                <li>/</li>
                                <li><a href="#">Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--END TOP AREA-->

    <!--SERVICE AREA-->
    <section class="service-area-two section-padding gray-bg">
        <div class="container">
            <div class="row" style="padding-top:15em;">
                <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 pull-right" >
                    <div class="service-details-content">
                        <div class="service-image">
                            <img src="/static/img/blog/blog_7.jpg" alt="">
                        </div>
                        <div class="service-details-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
                            <blockquote>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</blockquote>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                        <!--SERVICE AREA-->
                        <section id="sea_freight" class="service-area">
                            <div class="service-top-area padding-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="area-title wow fadeIn">
                                            <h2>Sea Freight</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="service-image">
                            <img src="/static/img/blog/blog_7.jpg" alt="">
                        </div>
                        <div class="service-details-text">
                            <p>Sea freight is the transportation of goods, consolidated into sea containers via Rotterdam to other seaports or terminals. Onward transportation to an inland terminal may be possible.</p>
                        </div>
                        <section id="air_freight" class="service-area">
                            <div class="service-top-area padding-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="area-title wow fadeIn">
                                            <h2>Air Freight</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="service-image">
                            <img src="/static/img/blog/blog_7.jpg" alt="">
                        </div>
                        <div class="service-details-text">
                            <p>Airfreight or Air cargo is the unaccompanied transportation of goods between 2 airports. WBS issues per consignment an Airwaybill with a unique and on the WBS-website traceable number.</p>
                        </div>
                         <section id="land_freight" class="service-area">
                            <div class="service-top-area padding-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="area-title wow fadeIn">
                                            <h2>Land Freight</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="service-image">
                            <img src="/static/img/blog/blog_7.jpg" alt="">
                        </div>
                        <div class="service-details-text">
                            <p>Road transport is the international transportation by road, goods are transferred via Distribution-centers and will be delivered at destination without extra local charges.</p>
                        </div>
                        <section id="consulting_service" class="service-area">
                            <div class="service-top-area padding-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="area-title wow fadeIn">
                                            <h2>Consulting Service</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="service-image">
                            <img src="/static/img/blog/blog_7.jpg" alt="">
                        </div>
                        <div class="service-details-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 pull-left">
                    <div class="service-menu">
                        <h4>Service Details</h4>
                        <ul>
                            <li><a href="#sea_freight" class="scrolltoland">Sea Freight <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#air_freight" class="scrolltoland">Air Freight <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#land_freight" class="scrolltoland">Land Freight <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#consulting_service" class="scrolltoland">Consulting Service <i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICE AREA END-->

    <!--FOOER AREA-->
    {% include 'footer.html' %}

</body>

{% endblock %}
